body{
    background-image: url("../images/bg_exploration.png");
    height: 85vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
}

div {
    margin: 120px 102px 0;
    width: 648px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #e1e1e6;
    margin-bottom: 16px;
}

p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #e1e1e6;
}
